# Backend/.env.example
DB_HOST=localhost
DB_PORT=3306
DB_NAME=grandstay_db
DB_USER=grandstay_user
DB_PASSWORD=change_me_secure_password
DB_SSL_MODE=DISABLED
DB_SSL_REJECT_UNAUTHORIZED=true
# DB_SSL_CA="-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
DB_NAME_TEST=grandstay_test

JWT_SECRET=change_me_min_32_chars_please_replace
JWT_EXPIRES_IN=8h
ADMIN_OTP=123456
ADMIN_OTP_SECRET=

PAYMENT_GATEWAY_URL=https://api.pasarela-mock.com
PAYMENT_GATEWAY_KEY=mock_key

PORT=4000
NODE_ENV=development
